.button {
  background-color: var(--brand-color);
  width: max-content;
  color: var(--white-color);
  padding: 1.6rem;
  cursor: pointer;
  border-radius: 0.8rem;
  transition: 0.5s ease-in-out;

  display: flex;
  align-items: center;
}

.button:hover {
  transform: scale(1.05);
}
