/* Font Import */
@font-face {
  font-family: Satoshi;
  src: url("../assets/font/Satoshi-Regular.otf");
}

@font-face {
  font-family: Satoshi;
  src: url("../assets/font/Satoshi-Medium.otf");
  font-weight: 500;
}

/* Variable */
:root {
  --brand-color: #88acb2;
  --white-color: #f9f9f9;
  --light-gray-color: #ececec;
  --black-color: #1a1a1a;

  --text-size: 500 1.4rem Satoshi;
}

* {
  margin: 0;
  padding: 0;
  font-family: Satoshi;
  line-height: 131%;

  box-sizing: border-box;
}

a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

html {
  font-size: 0.694vw;
}

body {
  font: var(--text-size);
  color: var(--black-color);

  background-color: var(--white-color);
}

h2 {
  margin-bottom: 2.4rem;
  font-size: 3.5rem;
  font-weight: 500;
}

@media (min-width: 1440px) {
  html {
    font-size: 10px;
  }
}

.container,
section {
  max-width: 128rem;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 810px) {
  html {
    font-size: 10px;
  }

  .container,
  section {
    max-width: 100%;
    margin-left: 4rem;
    margin-right: 4rem;
  }

  h2 {
    font-size: 3.6rem;
  }
}

@media (max-width: 500px) {
  .container,
  section {
    max-width: 100%;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  h2 {
    font-size: 2.4rem;
  }
}

/* asda */
.swiper-pagination {
  display: flex !important;
  gap: 1rem !important;
  padding: 0 3rem;
  padding-bottom: 2rem;
}

.swiper-pagination-bullet {
  height: 0.2rem !important;
  border-radius: 0 !important;
  background-color: var(--white-color) !important;
  opacity: 1 !important;
  flex: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--brand-color) !important;
}

/* LOGOS */

.move1,
.move2 {
  animation-name: moveLogo;
  animation-duration: 150s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.move2 {
  animation-name: moveLogo2;
}

@keyframes moveLogo {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}

@keyframes moveLogo2 {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}
