.images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.images img {
  width: 100%;
}

.section {
  padding-top: 15rem;
  margin-bottom: 12rem;
}

.section h1 {
  font-size: 6rem;
  font-weight: 500;
}

.section p {
  font-size: 1.8rem;
  padding-top: 1rem;
  color: #767676;
  font-weight: 400;
  margin-bottom: 5rem;
  max-width: 92rem;
}

.text {
  margin-top: 6.4rem;
  text-align: center;
  font-size: 3.5rem;
  line-height: 131%;
}

.text span {
  color: var(--brand-color);
}

@media (max-width: 810px) {
  .section {
    padding-top: 13rem;
  }

  .section h1 {
    font-size: 7rem;
    line-height: 9rem;
  }

  .images {
    margin: 0 4rem;
  }

  .text {
    font-size: 2.4rem;

    margin-top: 6rem;
  }
}

@media (max-width: 500px) {
  .section {
    padding-top: 11rem;
  }

  .section h1 {
    font-size: 3rem;
    line-height: 4rem;
  }

  .section p {
    font-size: 1.6rem;
  }

  .images {
    margin: 0 2rem;

    grid-template-columns: 1fr 1fr;
  }

  .images img:nth-child(3),
  .images img:nth-child(4) {
    display: none;
  }

  .text {
    font-size: 1.8rem;

    margin-top: 3rem;
  }
}
