.post {
  padding-top: 15rem;

  margin: auto;
  margin-bottom: 12rem;
}

.post img {
  width: 100%;
  height: auto;

  margin: 3.2rem 0;
}

.button {
  margin-top: 3.2rem;
  background-color: var(--brand-color);

  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-size: 2rem;
  color: #fff;
  padding: 2.5rem;
  border-radius: 1.6rem;
}

.blogHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}

.left {
  font-size: 1.6rem;
}

.left span {
  color: #767676;
}

.right {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  font-size: 1.4rem;
}

.author {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.blogCardAuthorImage {
  height: 1.8rem;
  width: 1.8rem;
  border-radius: 50%;
  overflow: hidden;
}

.blogCardAuthorImage img {
  margin: 0 !important;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.date {
  color: #767676;
}

.blogPostContent h1 {
  font-size: 3rem;
}

.blogPostContent h2 {
  margin: 2rem 0;
  font-size: 2.4rem;
}

.blogPostContent h3 {
  font-size: 2rem;
}

.blogPostContent p {
  margin: 2rem 0;
  font-size: 2rem;
  line-height: 140%;
}

.blogPostContent img {
  margin: 1rem 0;
}

@media (max-width: 810px) {
  .blogHeader {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.6rem;
  }

  .post {
    padding-top: 10rem;
  }
}

@media (max-width: 600px) {
  .blogPostContent h1 {
    font-size: 2.4rem;
  }

  .blogPostContent h2 {
    font-size: 2rem;
  }

  .blogPostContent h3 {
    font-size: 1.8rem;
  }

  .blogPostContent p {
    font-size: 1.6rem;
  }
}
